/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'iconfont';  /* Project id 4554318 */
  src: url('https://at.alicdn.com/t/c/font_4554318_r7afwb5iwth.woff2?t=1720776311083') format('woff2'),
       url('https://at.alicdn.com/t/c/font_4554318_r7afwb5iwth.woff?t=1720776311083') format('woff'),
       url('https://at.alicdn.com/t/c/font_4554318_r7afwb5iwth.ttf?t=1720776311083') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-more:before {
  content: "\e699";
}

.icon-more-filled:before {
  content: "\e69a";
}

.icon-search:before {
  content: "\e6ac";
}

.icon-xiaoxi:before {
  content: "\e600";
}

.icon-messagefill:before {
  content: "\e779";
}

.icon-yanjing:before {
  content: "\e8bf";
}

.icon-gongneng:before {
  content: "\e639";
}

.icon-api-outlined:before {
  content: "\e601";
}

.icon-wifi-outlined:before {
  content: "\e6cf";
}

.icon-close:before {
  content: "\e66b";
}

.icon-iphone:before {
  content: "\e68e";
}

.icon-key:before {
  content: "\e68d";
}

.icon-lock:before {
  content: "\e691";
}

.icon-user:before {
  content: "\e6c3";
}

.icon-wechat-fill:before {
  content: "\e883";
}

.icon-qq-fill:before {
  content: "\e6c9";
}

.icon-apple-fill:before {
  content: "\e881";
}

.icon-guanyuwomen:before {
  content: "\e6aa";
}

.icon-shezhi:before {
  content: "\e607";
}

.icon-person:before {
  content: "\e617";
}

.icon-arrow-down:before {
  content: "\e655";
}

.icon-arrow-left:before {
  content: "\e656";
}

.icon-arrow-right:before {
  content: "\e657";
}

.icon-arrow-up:before {
  content: "\e658";
}

.icon-chat-dot-round:before {
  content: "\e664";
}

.icon-setting:before {
  content: "\e6af";
}

.icon-warning:before {
  content: "\e6c8";
}

.icon-denglu-xuanzhong:before {
  content: "\e627";
}

.icon-denglu-weixuanzhong:before {
  content: "\e628";
}

.icon-shouye-xuanzhong:before {
  content: "\e62d";
}

.icon-shouye-weixuanzhong:before {
  content: "\e62e";
}

